body{
	margin: 0;
	padding: 0;
}


.Menu-conteiner {
	position: fixed;
	width: 100%;
}
	@media(max-width: 768px){
		.Menu-conteiner{
			width: 91%;
		}
	}
	
.Menu-list {
	display: flex;
	justify-content: center;
	list-style: none;

}
	@media(max-width: 768px){
		.Menu-list {
			margin: 0 auto;
			width: 110%;
			padding: 0;
			justify-content: space-around;
		}
	}
.menu-item {
	display: flex;
	font-family: SourceSansPro-Regular;
	font-size: 0.94em;
	color: #00416d;
	line-height: 0.8em;
	letter-spacing: 0em;
	background-color: #ffffff;
	border-radius: 25px;
	width: 12vw;
    height: 4vh;
	align-items: center;
	justify-content: center;
	border: solid #00416d 2px;
    align-items: space-between;
    margin: 15px;

}

	@media(max-width: 768px){
		.menu-item{
		    width: 20vw;
		    height: 5vh;
		    margin: 23px 2px;

	}
}


.home {
	background-image: url('pencil-1819063_1920.jpg');
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;

}

.div-home{
	display: flex;
	width: 100%;
}
	@media (max-width: 768px){
		.div-home{
			flex-direction: column;
			height: 100%;
		}
	}

.ttl-Projeto {
	font-family: PTMono-Bold;
    font-size: 120px;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 115px;
    letter-spacing: 0em;
    display: flex;
    width: 60%;
    height: 60vh;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}
@media (max-width: 768px){
	.ttl-Projeto{
		margin: 0;
	    width: 100%;
	    height: 45%;
	    font-size: 59px;
	    line-height: 1.1em;
	    justify-content: center;
	    align-items: flex-end;
	}
}

.professor {
	font-family: PTMono-Bold;
	font-size: 45px;
	color: #ffffff;
	font-style: normal;
	text-align: right;
	line-height: 4.14em;
	letter-spacing: 0em;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 65vh;
	width: 40%;
    }

@media(max-width: 320px){
	.professor{
	    margin: 0;
    	width: 100%;
    	height: 25%;
    	justify-content: center;
   	 	align-items: flex-start;
	} 
}


.conteiner-sobre{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
	@media(max-width: 768px){
		.conteiner-sobre{
			height: 100%;
			width: 100%;


		}
	}
hr{
	background-color: #808080;
	opacity: 0.5;
	padding: 1px;
}
	@media(max-width: 768px){
		hr{
			margin: 50px;
    		opacity: 0;
		}
	}

.div-conteiner1{
	display: flex;
	height: 60%;
	width: 100%;
}
	@media(max-width: 768px){
		.div-conteiner1{
			height: 50%;
			width: 100%;
			flex-direction: column;
		}
	}

.div-sobre{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}
	@media(max-width: 768px){
		.div-sobre{
			width: 100%;
			margin-top: 68px;

		}
	}

.txt-sobre {
	font-family: 'SourceSansPro-Bold';
    font-size: 1.88em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: -0.
    letter-spacing: 0,61em;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left:15%;
    display: flex;
    justify-content: flex-start;

}
	@media(max-width: 768px){
		.txt-sobre{
			padding: 0;
			font-size: 1.10em;
		}
	}

.txt-sobre2 {
	font-family: 'SourceSansPro-Regular';
    font-size: 1.25em;
    color: #1f4ecc;
    font-style: normal;
    text-align: left;
    line-height: 1.07em;
    letter-spacing: 0em;
    display: flex;
    justify-content: flex-end;
  
}

@media (max-width: 768px){
	.txt-sobre2{
		font-size: 0.95em;
	}
}
	

.div-conteiner2{
	display: flex;
	flex-direction: column;
	width: 50%;
}
	@media(max-width: 768px){
		.div-conteiner2{
			width: 100%;
			height: 50%;

		}
	}
.ttl-ação-1{
	font-family: 'SourceSansPro-Bold';
	font-size: 20px;
	color:#1f4ecc;
	font-style: normal;
	text-align:  right;
	line-height: 35px;
	letter-spacing: 0em;
	width: 10%;
}
	@media(max-width: 768px){
		.ttl-ação-1{
			width: 25%;
		}
	}

.ttl-ação {
	font-family: 'SourceSansPro-Bold';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color:#1f4ecc;
	font-style: normal;
	text-align:  left;
	line-height: 22px;
	letter-spacing: 0em;
	width: 9vw;	
}
	@media(max-width: 768px){
		.ttl-ação{
			width: 100%;

		}
	}

.ttl-açãoo{
	font-family: 'SourceSansPro-Bold';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color:#1f4ecc;
	font-style: normal;
	text-align:  left;
	line-height: 22px;
	letter-spacing: 0em;
	width: 9vw;
}
	@media(max-width: 768px){
		.ttl-açãoo{

		}
	}
.div-ação{
	width: 100%;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
	@media(max-width: 768px){
		.div-ação{
			flex-direction: column;
		}
	}
	
.div-caixa{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 110%;
    width: 30%;
    border: solid;
    border-radius: 30px;
    border-color: red;
}
	@media(max-width: 768px){
		.div-caixa{
			width: 80%;
			height: 80%;
			margin: 13px;
		}
	}
.txt-ação{
	font-family: 'SourceSansPro-Bold';
	color: #1f4ecc;
	font-style: normal;
	font-size: 11px;
	margin: 20px;
	line-height: 1.61em;
	letter-spacing: 0em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;

}
	@media(max-width: 768px){
		.txt-ação{
			width: 80%;
			font-size: 0.75em;
		}
	}

.txt-açãoo{
	font-family: 'SourceSansPro-Bold';
	color: #1f4ecc;
	font-style: normal;
	font-size: 10px;
	margin: 20px;
	line-height: 1.61em;
	letter-spacing: 0em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;

}

	@media(max-width: 768px){
		.txt-açãoo{
			font-size: 0.75em;
		}
	}


.conteiner-contato {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-image: url('pencil-918449_1920.jpg');
	display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
	@media(max-width: 768px){
		.conteiner-contato{
			justify-content: center;
		}
	}
.div-contato{
	height: 30%;
    width: 30%;
    opacity: 0.5;
    background-color: #000000;
    border-radius: 25px;
    line-height: 10px;
    position: relative;
    right: 2vw;
}
	@media(max-width: 768px){
		.div-contato{
			height: 45%;
    		width: 75%;
		}
	}

.ttl-contato {
	font-family: SourceSansPro-Bold;
	color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;
	font-style: normal;
	text-align: left;
	line-height: 30px;
	letter-spacing: 0em;
	height: 25px;
	font-weight: 900;
	margin: 20px;
	
}
	@media(max-width: 768px){
		.ttl-contato{

		}
	}

.txt-contato {
	font-family: SourceSansPro-Regular;
    font-size: 20px;
    margin: 0 auto;
    color: #ffffff;
    font-style: normal;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;

}
	@media(max-width: 768px){
		.txt-contato{
			font-size: 13px;
    		line-height: 30px;
			font-weight: 800;
		}
	}
.caixa-imagem{
	position: absolute;
    left: 200px;
    top: 110px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
	@media(max-width: 768px){
		.caixa-imagem{
			left: 40px;
   			top: 135px;
   			width: 50vw;
		}
	}

.img-facebook{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	margin: 4px;

}
	@media(max-width: 768px){
		.img-facebook{
			width: 20vw;
			height: 20vw;
			margin: 5px;
		}
	}
.img-youtube{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	margin: 4px;

}
	@media(max-width: 768px){
		.img-youtube{
			width: 20vw;
			height: 20vw;

		}
	}
	

